.cart {
	position: relative;
	padding: 50px 30px 100px 30px;
	margin-left: 300px;
	height: 100%;
	width: calc(100%-300px);
	display: flex;
	flex-direction: column;
	font-family: "Roboto Condensed", sans-serif;
	flex: 1 1 auto;
	@media (max-width: 1600px) {
		margin-left: 0;
	}
	@media (max-width: 1368px) {
		padding: 50px 0 30px;
		width: 100%;
	}
	@media (max-width: 768px) {
		padding-top: 20px;
	}
	@media (max-width: 481px) {
		padding-top: 15px;
	}
	.cartTitle {
		font-weight: bold;
		font-size: 35px;
		margin-bottom: 20px;
		@media (max-width: 1368px) {
			margin-left: 30px;
		}
		@media (max-width: 768px) {
			font-size: 20px;
		}
		@media (max-width: 481px) {
			margin-bottom: 15px;
		}
	}
	.cartContent {
		display: flex;
		min-height: 200px;
		width: 100%;
		@media (max-width: 1368px) {
			flex-direction: column;
			background-color: #f5f5f5;
		}
		.cartItems {
			flex: 1 1 60%;
			@media (max-width: 1368px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex: 1 1 auto;
				margin-bottom: 20px;
			}
			.cartItem {
				width: 90%;
				height: 120px;
				background-color: white;
				border: 1px solid lightgrey;
				border-top: none;
				&:first-child {
					border-top: 1px solid lightgrey;
				}
				@media (max-width: 1368px) {
					width: 100%;
					border: none;
					margin-top: 10px;
					&:first-child {
						border-top: none;
					}
				}
			}
		}
		.cartInfo {
			display: flex;
			flex-direction: column;
			padding-right: 100px;
			flex: 1 1 40%;
			@media (max-width: 1368px) {
				padding: 0 20px;
				flex: auto;
			}
			@media (max-width: 450px) {
				padding: 0 20px;
			}
			.cartSum {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 45px;
				.sumTitle {
					color: lightgrey;
					font-size: 20px;
					@media (max-width: 450px) {
						font-size: 17px;
					}
				}
				.sumNum {
					font-size: 20px;
					@media (max-width: 450px) {
						font-size: 17px;
					}
				}
			}
			.cartFinalSum {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 45px;
				.finalSum {
					font-weight: bold;
					color: lightgrey;
					font-size: 23px;
					@media (max-width: 450px) {
						font-size: 20px;
					}
				}
				.finalSumNum {
					font-size: 23px;
					font-weight: bold;
					@media (max-width: 450px) {
						font-size: 20px;
					}
				}
			}
			.cartButton {
				padding: 15px 0;
				width: 100%;
				background-color: #92140c;
				color: white;
				display: flex;
				justify-content: center;
				font-size: 20px;
				@media (max-width: 768px) {
					position: fixed;
					width: 100vw;
					bottom: 0;
					left: 0;
					z-index: 10000;
					font-size: 17px;
				}
			}
		}
		.freeCart {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			div {
				font-size: 14px;
				margin-bottom: 15px;
			}
			.catalogLink {
				color: #92140c;
				// background-color: #92140C;
				border: 1px solid #92140c;
				padding: 13px 20px;
				font-size: 16px;
				text-decoration: none;
				transition: 0.1s linear;
				&:hover {
					color: white;
					background-color: #92140c;
				}
			}
			@media (max-width: 1368px) {
				margin-top: 50px;
				align-items: center;
			}
		}
	}
}

.cartWrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}
.blur {
	filter: blur(4px);
	cursor: default;
	* {
		pointer-events: none;
	}
}
