.cart {
	padding: 50px 30px 100px 30px;
	margin-left: 300px;
	height: 100%;
	width: calc(100%-300px);
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	font-family: "Roboto Condensed", sans-serif;
	.cartTitle {
		font-size: 35px;
		margin-bottom: 50px;
	}
	.cartContent {
		display: flex;
		width: 100%;
		.cartItems {
			flex: 1 1 60%;
			.cartItem {
				width: 85%;
				height: 130px;
				background-color: white;
				border: 1px solid;
				border-top: none;
				&:first-child {
					border-top: 1px solid;
				}
			}
		}
		.cartInfo {
			flex: 1 1 40%;
		}
	}
}
