.wrapper {
	width: 100%;
	padding: 20px 30px;
	margin-top: 50px;
	padding-bottom: 100px;

	@media (min-width: 1600px) {
		margin-left: 300px;
		width: calc(100% - 300px);
	}

	@media (max-width: 960px) {
		padding-bottom: 100px;
		margin-top: 0;
	}

	.catalogText {
		font-size: 1.3em;
		font-family: Montserrat, sans-serif;
		font-weight: 600;
	}

	.photosHolder {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media (max-width: 900px) {
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.photoBlock {
				width: 100% !important;
				height: 70vw !important;
			}
		}

		.photoBlock {
			cursor: pointer;
			width: 30%;
			min-width: 300px;
			height: 30vw;
			position: relative;
			margin-top: 20px;

			@media (max-width: 900px) {
				height: 60vw;
				min-height: 200px;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				filter: brightness(70%);
			}

			h1 {
				position: absolute;
				top: 90%;
				left: 50%;
				transform: translate(-50%, -40%);
				color: white;
				font-size: 1.2em;
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
			}

			@media (max-width: 400px) {
				h1 {
					top: 80%;
					left: 50%;
					transform: translate(-50%, -20%);
				}
			}
		}
	}
}

.blur {
	filter: blur(4px);
	cursor: default;

	* {
		pointer-events: none;
	}
}
