.footer {
	margin-left: 300px;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Roboto Condensed", sans-serif;
	// background: #f5f5f5;
	border-top: 1px solid #d35400;
	@media (max-width: 1600px) {
		margin-left: 0;
	}
	.footer__content {
		padding: 30px 40px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		@media (max-width: 1200px) {
			flex-direction: column;
			padding: 0px;
		}
		.contacts {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			flex: 1 1 40%;
			@media (max-width: 1200px) {
				width: 100%;
				order: 2;
				align-items: center;
			}
			.phonesBlock {
				display: flex;
				margin-bottom: 50px;
				@media (max-width: 1200px) {
					width: 100%;
					justify-content: space-between;
					padding: 0 50px;
					margin-bottom: 20px;
				}
				@media (max-width: 768px) {
					flex-direction: column;
					padding: 0 20px;
					margin-bottom: 0px;
				}
				@media (max-width: 481px) {
					flex-direction: column;
					padding: 0 10px;
				}
				.phones {
					margin-right: 80px;
					color: lightslategrey;
					@media (max-width: 1200px) {
						margin-right: 0px;
						width: 49%;
						text-align: center;
						padding: 5px 0;
						background-color: #d35400;
					}
					@media (max-width: 768px) {
						width: 100%;
						margin-bottom: 10px;
					}
					&:last-child {
						margin-right: 0px;
					}
					.phoneTitle {
						font-size: 12px;
						@media (max-width: 1200px) {
							font-size: 15px;
							color: white;
						}
					}
					.phoneNumber {
						font-size: 20px;
						color: black;
						@media (max-width: 1200px) {
							font-size: 25px;
							color: white;
						}
					}
					.phoneSub {
						font-size: 12px;
						@media (max-width: 1200px) {
							font-size: 15px;
							color: white;
						}
					}
				}
			}
			.social {
				display: flex;
				align-items: center;
				@media (max-width: 1200px) {
					padding: 0 50px;
				}
				.socialTitle {
					color: black;
					font-size: 20px;
					margin-right: 10px;
				}
				img {
					width: 20px;
				}
			}
			.cards {
				@media (max-width: 1200px) {
					padding: 0 50px;
					margin-bottom: 20px;
					align-items: center;
				}
				display: flex;
				flex-direction: column;
				.cardTitle {
					font-size: 20px;
					color: black;
				}
				.cardcons {
					display: flex;
					img {
						width: 40px;
						margin-right: 10px;
					}
				}
			}
		}
		.info {
			flex: 1 1 60%;
			display: flex;
			justify-content: flex-end;
			@media (max-width: 1200px) {
				width: 100%;
			}
			.category {
				display: flex;
				@media (max-width: 1200px) {
					flex-direction: column;
					width: 100%;
					margin-bottom: 30px;
				}
				.categoryItem {
					margin-right: 70px;
					@media (max-width: 1200px) {
						margin-right: 0px;
						border-bottom: 1px solid lightgrey;
						padding: 0 40px;
					}
					&:last-child {
						margin-right: 0;
					}
					.categoryTitle {
						font-size: 20px;
						margin-bottom: 20px;
						@media (max-width: 1200px) {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-top: 20px;
						}
						.categoryIcon {
							@media (min-width: 1200px) {
								display: none;
							}
							position: relative;
							&::before,
							&::after {
								content: "";
								width: 16px;
								height: 2px;
								background-color: lightgrey;
								position: absolute;
								right: 5px;
								bottom: 0px;
								transition: 0.2s linear;
							}
							&::before {
								transform: rotate(90deg);
							}
						}
					}
					.subBlock {
						@media (max-width: 1200px) {
							max-height: 0px;
							overflow: hidden;
						}
						transition: max-height 0.4s;
						.subCategory {
							list-style: none;
							.subCategoryItem {
								margin-bottom: 5px;
								font-size: 15px;
							}
						}
					}
					.activeContent {
						max-height: 10em;
					}
				}
			}
		}
	}
	.footer__end {
		background-color: #d35400;
		width: 100%;
		height: 60px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1200px) {
			height: 45px;
		}
		@media (max-width: 768px) {
			flex-direction: column;
			height: 60px;
			justify-content: center;
		}
		@media (max-width: 450px) {
			padding: 0px;
		}
		.rules {
			color: white;
			font-size: 20px;
			@media (max-width: 1200px) {
				font-size: 15px;
			}
			@media (max-width: 450px) {
				font-size: 12px;
			}
		}
		.dev {
			color: white;
			font-size: 20px;
			@media (max-width: 1200px) {
				font-size: 15px;
			}
			@media (max-width: 450px) {
				font-size: 12px;
			}
		}
	}
}
