.nav {
	background-color: #d35400;
	position: fixed;
	z-index: 20000;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0px 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
	@media (max-width: 481px) {
		padding: 0 15px;
	}
	.nav__logo {
		display: flex;
		align-items: center;
		.nav__burger {
			cursor: pointer;
			margin-right: 50px;
			@media (min-width: 1600px) {
				display: none;
			}
		}
		.logo {
			a {
				color: white;
				font-weight: bold;
				&:hover {
					text-decoration: none;
				}
				@media (max-width: 1365px) {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				@media (max-width: 481px) {
					font-size: 20px;
				}
				span {
					font-size: inherit;
				}
			}
		}
	}
	.nav__menu {
		display: flex;
		align-items: center;
		a {
			position: relative;
			bottom: 2px;
			display: flex;
			align-self: center;
			svg {
				height: 30px;
				width: 30px;
				cursor: pointer;
			}
			.cartBadge {
				position: absolute;
				width: 16px;
				height: 16px;
				background-color: white;
				bottom: -2px;
				right: -1px;
				border-radius: 50%;
				font-size: 13px;
				color: #d35400;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.nav__contacts {
			margin-right: 150px;
			@media (max-width: 1600px) {
				margin-right: 80px;
			}
			@media (max-width: 1365px) {
				display: none;
			}
			.phone {
				font-size: 20px;
				line-height: 1;
			}
			.txt {
				font-size: 15px;
				line-height: 1;
			}
		}
	}
}
