.wrapper {
    background-color: #f5f5f5;
    width: 100%;
    padding: 5px 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (min-width: 1600px) {
        margin-left: 300px;
        width: calc(100% - 300px);
    }

    @media (max-width: 960px) {
        margin-top: 0;
    }

    @media (max-width: 768px) {
        padding-top: 20px;
    }

    @media (max-width: 1024px) {
        .photosHolder {
            width: 100% !important;
            height: 250px !important;
            flex-direction: row !important;
            overflow-x: scroll;
            scrollbar-width: thin;

            img {
                width: 60vw !important;
                height: 200px !important;
            }



            &::-webkit-scrollbar {
                width: 2px !important;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #000000;
            }

        }
    }

    .photosHolder {
        width: 10%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 150px;
            height: 150px;
            object-fit: contain;
            cursor: pointer;
        }

    }

    .bigPhoto {
        width: 60%;
        height: 80vh;
        object-fit: scale-down;
    }

    .productInfo {
        height: 80vh;
        width: 30%;
        display: flex;
        flex-direction: column;

        h1 {
            margin-top: 25px;
            font-size: 1.2em;
            font-family: Montserrat, sans-serif;

        }

        .productCode {
            margin-top: 10px;
            font-size: 0.7em;
            color: #9F9F9F;
        }

        .color {
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-family: Roboto, sans-serif;
            margin-top: 20px;

            span {
                color: #969696;
                font-size: 16px;
                font-family: Roboto, sans-serif;
                margin-top: 20px;
            }
        }

        .priceBlock {
            margin-top: 50px;
            width: 320px;
            display: flex;
            justify-content: space-between;

            .firstPrice {
                font-size: 0.75em;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
            }

            .secondPrice {
                font-size: 0.65em;
                font-weight: 500;
                font-family: "Montserrat", sans-serif;
                color: #9F9F9F;
                text-decoration: line-through;
            }

            .discount {
                width: auto;
                padding: 0px 20px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #D35400;
                font-size: 0.6em;
                color: white;
                text-align: center;
                margin-top: -7px;
            }
        }

        .selectorHolder {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            button {
                width: 130px;
                height: 40px;
                border: 0;
                background-color: #D35400;

                &:hover {
                    background-color: #db6312;
                }

                &:active {
                    background-color: #cf590a;
                }

                outline: none;
            }

            .dropdown {
                width: 180px;
                height: 40px;
                padding: 10px 15px;
                border: 1px solid #BFBFBF;
                background-color: white;
                position: relative;
                cursor: pointer;
                display: flex;
                justify-content: space-between;

                svg {
                    width: 20px;
                    height: 20px;
                    right: 5px;
                }

                .rotate {
                    transition: all 0.2s linear;
                    transform: rotate(180deg);
                }

                .rot {
                    transition: all 0.2s linear;
                    transform: rotate(0);
                }



                span {
                    font-size: 0.7em;
                    font-family: Montserrat, sans-serif;

                }

                .active {
                    transition: all 0.2s linear !important;
                    border: 1px solid #BFBFBF !important;
                    max-height: 10em !important;
                }

                .downDropdown {
                    position: absolute;
                    width: 180px;
                    top: 39px;
                    background-color: white;
                    width: 100%;
                    transition: all 0.2s linear !important;
                    left: 0;
                    overflow: hidden;
                    border: 0;
                    max-height: 0;

                    .pHolder {
                        width: 100%;
                        padding: 5px 15px;
                        cursor: pointer;

                        &:hover {
                            background: #F7F7F7;
                        }

                        p {
                            font-size: 0.7em;
                            font-family: Montserrat, sans-serif;
                        }
                    }
                }
            }
        }

        .descriptionBlock {
            border-top: 1px solid #D9D9D9;
            margin-top: 35px;

            h1 {
                font-family: Montserrat, sans-serif;
                font-size: 0.9em;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 10px;
            }

            p {
                font-size: 17px;
                font-family: 'Roboto', sans-serif;
                line-height: 20px;
                font-weight: 300;
            }
        }

    }
}