.wrapper {
	background-color: #f5f5f5;
	width: 100%;
	height: 100%;
	padding: 5px 30px;
	padding-top: 50px;
	padding-bottom: 100px;

	@media (min-width: 1600px) {
		margin-left: 300px;
		width: calc(100% - 300px);
	}

	@media (max-width: 960px) {
		margin-top: 0;
	}
	@media (max-width: 768px) {
		padding-top: 20px;
	}
	@media (max-width: 481px) {
		padding: 20px 15px;
	}

	.productPageText {
		width: 100%;
		height: 50px;

		h1 {
			color: black;
			font-weight: 600;
			text-align: left;
			font-size: 1.5em;
			@media (max-width: 768px) {
				text-align: center;
			}
			@media (max-width: 481px) {
				font-size: 30px;
			}
		}
	}
	.filter {
		margin-top: 30px;
		display: flex;
		align-items: flex-start;
		width: 100%;
		position: relative;
		@media (max-width: 1300px) {
			flex-direction: column;
		}
		@media (max-width: 768px) {
			align-items: center;
			margin-top: 15px;
		}
		@media (max-width: 481px) {
			margin-top: 0px;
		}
		.categoryItem {
			position: relative;
			list-style: none;
			.categoryTitle {
				// background-color: #92140C;
				border: 1px solid #92140c;
				border-bottom: none;
				display: flex;
				color: #92140c;
				width: 270px;
				padding: 15px;
				font-size: 20px;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				.categoryIcon {
					transition: 0.2s linear;
					position: relative;
					transform: rotate(180deg);
					top: 3px;
					width: 15px;
				}
				.activeIcon {
					transform: rotate(0deg);
				}
			}
		}
		.subCategory {
			width: 100%;
			position: absolute;
			background-color: white;
			border: 1px solid #92140c;
			border-top: none;
			max-height: 0px;
			overflow: hidden;
			z-index: 10000;
			transition: max-height 0.2s;
			@media (max-width: 1300px) {
				position: relative;
			}
			.subCategoryList {
				list-style: none;
				.subCategoryItem {
					cursor: pointer;
					margin-left: 15px;
					margin-top: 10px;
					font-size: 15px;
					&:first-child {
						margin-top: 15px;
					}
					&:last-child {
						margin-bottom: 15px;
					}
				}
				.activeSubCategory {
					color: #92140c;
				}
			}
		}
		.activeContent {
			max-height: 10.5em;
		}
		.filterItem {
			position: relative;
			margin-left: 40px;
			@media (max-width: 1300px) {
				margin-left: 0px;
				margin-top: 10px;
			}
			.filterName {
				width: 270px;
				border: 1px solid #92140c;
				border-bottom: none;
				// background-color: #92140C;
				color: #92140c;
				padding: 15px;
				font-size: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				.filterIcon {
					position: relative;
					top: 3px;
					transition: 0.2s linear;
					margin-left: 10px;
					width: 15px;
					transform: rotate(180deg);
				}
				.activeIcon {
					transform: rotate(0deg);
				}
			}
			.subFilter {
				position: absolute;
				width: 100%;
				background-color: white;
				border: 1px solid #92140c;
				border-top: none;
				box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
				max-height: 0px;
				overflow: hidden;
				transition: all 0.2s linear;
				z-index: 10000;

				@media (max-width: 1300px) {
					position: relative;
				}

				.subFilterList {
					padding: 0 0 15px 0;
					.russiansize {
						font-size: 13px;
						color: #b8b8b8;
						width: 100%;
						padding-top: 10px;
						height: 35px;
						border-bottom: 1px solid #c3c3c3;
						background-color: #f3f3f3;
						margin-bottom: 10px;
						padding-left: 20px;
					}
					.imputBlock {
						margin-left: 15px;
						display: flex;
						align-items: center;
						padding-top: 10px;
						justify-content: flex-start;
						font-size: 15px;
						.filterInput {
							margin-right: 5px;
							margin-bottom: 2px;
							width: auto;
						}
					}
				}
			}
			.activeContent {
				max-height: 11em;
				overflow-y: auto;
				&::-webkit-scrollbar {
					width: 4px;
					background-color: #f5f5f5;
				}
				&::-webkit-scrollbar-thumb {
					background-color: #92140c;
				}
			}
		}
		.sortBy {
			position: absolute;
			right: 0;
			padding: 15px;
			font-size: 15px;
			display: flex;
			align-items: center;
			color: #92140c;
			@media (max-width: 768px) {
				position: relative;
			}

			.price {
				color: black;
				font-size: 15px;
				margin: 0 20px;
				cursor: pointer;
				&:hover {
					color: #92140c;
				}
				@media (max-width: 481px) {
					margin: 0 10px;
				}
			}
			.sale {
				cursor: pointer;
				color: black;
				font-size: 15px;
				&:hover {
					color: #92140c;
				}
			}
			.activeSort {
				color: #92140c;
				font-weight: bold;
			}
		}
	}
	.productList {
		display: flex;
		flex-wrap: wrap;
		margin: -3px;
		margin-top: 30px;

		@media (max-width: 768px) {
			margin-top: 10px;
		}

		.product {
			min-height: 300px;
			height: auto;
			background-color: lightgrey;
			width: calc(20% - 6px);
			margin: 3px;
			@media (max-width: 1600px) {
				width: calc(25% - 6px);
			}
			@media (max-width: 1280px) {
				width: calc(50% - 6px);
			}
		}
	}
}

.blur {
	filter: blur(4px);
	cursor: default;
	* {
		pointer-events: none;
	}
}
