.sidebar {
	background-color: white;
	position: fixed;
	width: 300px;
	top: 60px;
	height: 100%;
	max-height: 100vh;
	transition: all 0.4s linear;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;
	z-index: 20000;
	@media (max-width: 1600px) {
		left: -300px;
	}
	@media (max-width: 1300px) {
		justify-content: flex-start;
		padding-bottom: 100px;
		width: 50%;
		left: -50%;
	}
	@media (max-width: 768px) {
		width: 80%;
		left: -80%;
	}
	@media (max-width: 400px) {
		width: 100%;
		left: -100%;
	}
	.sidelist {
		font-family: "Roboto Condensed", sans-serif;
		list-style: none;
		.sideItem {
			cursor: pointer;
			border-bottom: 1px solid lightgrey;
			padding: 20px 0;
			.sidetitle {
				padding: 0 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: all 0.2s linear;
				position: relative;
				&:hover {
					color: #d35400;
					.sideicon {
						&::before,
						&::after {
							background-color: #d35400;
						}
					}
				}
				.sideItemTitle {
					margin-bottom: 0px;
					font-size: 15px;
					font-weight: bold;
					text-transform: uppercase;
				}
				.sideicon {
					position: relative;
					&::before,
					&::after {
						content: "";
						width: 16px;
						height: 2px;
						background-color: lightgrey;
						position: absolute;
						right: 5px;
						transition: 0.2s linear;
					}
					&::before {
						transform: rotate(90deg);
					}
				}
				.activeIcon {
					&::before,
					&::after {
						background-color: #d35400;
					}
					&::before {
						transform: rotate(0deg);
					}
				}
			}
			.activeTitle {
				color: #d35400;
			}
			.sideItemContent {
				margin-left: 45px;
				max-height: 0;
				overflow: hidden;
				transition: max-height 0.4s;
				.sublist {
					list-style: none;
					.subitem {
						display: flex;
						align-items: center;
						padding-top: 10px;
						a {
							color: black;
							font-size: 15px;
							margin-bottom: 0px;
							&:hover {
								text-decoration: none;
								color: #d35400;
							}
						}
					}
				}
			}
			.activeContent {
				max-height: 10em;
			}
		}
	}
	.searhbar {
		position: relative;
		bottom: 60px;
		height: 60px;
		border-top: 1px solid lightgrey;
		padding: 10px 10px 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 1300px) {
			border-bottom: 1px solid lightgrey;
			border-top: 0;
			bottom: 0;
			margin-bottom: 60px;
		}
		input {
			color: black;
			outline: none;
			border: none;
			font-size: 20px;
			&::placeholder {
				color: lightgrey;
			}
		}
	}
	.phonesBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 1300px) {
			display: none;
		}
		.phones {
			width: 90%;
			color: white;
			background-color: #d35400;
			text-align: center;
			margin-bottom: 10px;
			border-radius: 10px;
			padding: 5px 0;
			&:last-child {
				margin-right: 0px;
			}
			.phoneTitle {
				font-size: 15px;
				@media (max-width: 1200px) {
					font-size: 12px;
					color: white;
				}
			}
			.phoneNumber {
				line-height: 1.2;
				font-size: 25px;
				color: white;
				@media (max-width: 1200px) {
					font-size: 20px;
					color: white;
				}
			}
			.phoneSub {
				font-size: 15px;
				@media (max-width: 1200px) {
					font-size: 12px;
					color: white;
				}
			}
		}
	}
}
.active {
	left: 0;
}
